.features-list {
    display: flex;
        &__item {
            width: 270px;
        }
    
        &__item:not(:last-child) {
            margin-right: 30px;
        }
    
        &__thumb {
            background-color: var(--secondary-bg-color);
            border-radius: 4px;
            margin-bottom: 30px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__title {
            margin-bottom: 10px;
            text-align: left;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
        }
    
        &__text {
            color: var(--text-color);
            line-height: 1.71;
        }
}
 