.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
        &__item + &__item {
            margin-left: 10px;
        }
    
        &__link {
            display: block;
            width: 44px;
            height: 44px;
            fill: var(--white-color);
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            transition: color 250ms var(--timing-function),
                background-color 250ms var(--timing-function);
        }
    
        &__link:hover,
        &__link:focus {
            border-radius: 50%;
            background-color: var(--accent-color);
        }
    
        &__icon {
            margin: 12px;
        }
}
 