.header-social {
    display: none;
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -10px;
        top: -10px;
            &__item {
                margin-top: 10px;
            } 
            &__item + &__item {
                border-left: 1px solid rgba(33, 33, 33, 0.2);;
            }

            &__link {
                display: inline-block;
                text-decoration: none;
                padding: 0 10px;
                background-color: transparent;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.222;
                letter-spacing: 0.02em;
                color: var(--accent-color);
            }
    }
}