.footer-section-sub {
        @media screen and (min-width: 1200px) {
            margin-left: auto;
        }
}

.subscription {
        @media screen and (max-width: 1199px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__input {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            padding: 0;
            padding-left: 16px;
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            @media screen and (min-width: 480px) {
                width: 450px;
            }
            @media screen and (max-width: 1199px) { 
                margin-bottom: 20px;
            }
            @media screen and (min-width: 1200px) {
                margin-right: 12px;
                width: 358px;
            }
        }
    
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            padding: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.875;
            letter-spacing: 0.06em;
            color: var(--white-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            background-color: var(--accent-color);
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 250ms var(--timing-function);
        }
    
        &__btn:hover {
            background-color: var(--button-color);
        }
    
        &__icon {
            margin-left: 10px;
            fill: var(--white-color);
        }
}
 